extends layout

block content
  h1= title
  p Welcome to the #{title} collection
  p Last updated: #{lastUpdated}
  p= JSON.stringify(results)

  if results && results.length > 0
    div.container-fluid
      div.row
        each item in results
          div.col-sm-2(
            style="border: 1px solid #ddd; padding: 10px; margin: 5px;"
          )
            p Material: #{item.material}
            p Keys: #{item.keys}
            p Tuning: #{item.tuning}

            a.btn.btn-primary.mt-2(href=`/xylophone/update?id=${item._id}`) Update
            a.btn.btn-info.mt-2.ms-2(href=`/xylophone/detail?id=${item._id}`) View
            a.btn.btn-danger.mt-2.ms-2(href=`/xylophone/delete?id=${item._id}`) Delete
  else
    p No xylophones found in database

  if message
    p.text-danger= message
