extends layout

block content
  h1= title
  p Welcome to the #{title} collection
  p Last updated: #{lastUpdated}
  p= JSON.stringify(results)

  if results && results.length > 0
    div.container-fluid
      div.row
        each item in results
          - let destination = `goToUpdate("${item._id}")`
          div.col-sm-2(
            style="cursor: pointer; border: 1px solid #ddd; padding: 10px; margin: 5px;"
          )
            p Material: #{item.material}
            p Keys: #{item.keys}
            p Tuning: #{item.tuning}
            a.btn.btn-primary.mt-2(href=`
            
            /xylophone/update?id=${item._id}`) Update
  else
    p No xylophones found in database

  script.
    function goToUpdate(id) {
      window.location.href = `/resource/xylophone/update?id=${id}`;
    }
