extends layout

block content
  h1= title

  // Display ID outside form
  div.form-group
    label.xAttr ID
    div= toShow._id

  form(id='XylophoneUpdateForm', action=`/resource/xylophone/${toShow._id}`, method='POST')
    // Method override for PUT
    input(type='hidden', name='_method', value='PUT')

    div.form-group
      label.xAttr(for='material') Material
      input#material(type='text', name='material', value=toShow.material)

    div.form-group
      label.xAttr(for='keys') Number of Keys
      input#keys(type='number', name='keys', value=toShow.keys)

    div.form-group
      label.xAttr(for='tuning') Tuning
      input#tuning(type='text', name='tuning', value=toShow.tuning)

    input(type='submit')

  script.
    document.forms['XylophoneUpdateForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then(resp => resp.json())
      .then(body => {
        alert("Update succeeded");
      })
      .catch(error => {
        alert("Update failed: " + error);
      });
    });
